.modal {
    display: block;
    position: fixed;
    z-index: 1;
    padding-top: 70px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    position: relative;
    color: black;
    background-color: white;
    margin: auto;
    padding: 40px 100px;
    border: 2px solid white;
    width: 50%;
    border-radius: 20px;
    animation-duration: 1s;
    animation-name: slidein;
}

.title-create {
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 30px;
}

.form-cont {
    display: flex;
    justify-content: space-around;
    max-width: 450px;
    margin-top: 10px;

}

.form-cont input {
    width: 250px;
    margin-top: 20px;
    margin-left: 70px;
    text-align: left;
    outline: none;
    height: 20px;
}

.form-cont p {
    font-size: 20px;
    font-weight: 400;
    margin-right: 10px;
}
.form-textarea input{
    height: 70px;
    margin-left: 45px;
}

#form-submit-button {
    position: absolute;
    outline: none;
    width: 100px;
    cursor: pointer;
    height: 40px;
    right: 30px;
    font-size: 20px;
    bottom: 20px;
    border: 1px solid black;
    border-radius: 15px;
}
#form-submit-button:hover{
    border: 1px solid white;
    background-color: gray;
    color:white;
}

.close {
    font-size: 45px;
    cursor: pointer;
    position: absolute;
    right: 8px;
    top: -10px;

}

  
  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 50%;
    }
  
    to {
      margin-left: 270px;
      width: 50%;
    }
  }